.hero {
    background: linear-gradient(135deg, #6366f1, #8b5cf6);
    text-align: center;
}


.hero-content h1 {
    font-size: 52px;
    margin-bottom: 20px;
}


.hero-content p {
    margin-bottom: 30px;
    color: #e0e7ff;
}


.hero-btn {
    background: white;
    color: #4f46e5;
    padding: 14px 28px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    margin-right: 10px;
}

.btn-free {
    background-color: inherit;
    color: white;
    border: 2px solid;

}