* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background: #0f172a;
    color: #f8fafc;
    line-height: 1.6;
}


section {
    padding: 80px 20px;
}


.container {
    /* max-width: 1100px; */
    margin: auto;
}


button {
    cursor: pointer;
}