.how {
    background: #020617;
}


.steps {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}


.step {
    background: #6366f1;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}