.title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
}


.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}


.card {
    background: #020617;
    padding: 30px;
    border-radius: 14px;
    text-align: center;
    transition: transform .3s, box-shadow .3s;
}


.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
}