/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f172a;
    color: #f8fafc;
    line-height: 1.6;
}

section {
    padding: 80px 20px;
}

.container {
    max-width: 1100px;
    margin: auto;
}

/* Buttons */
.btn-primary {
    background: #6366f1;
    color: white;
    border: none;
    padding: 14px 28px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s, background 0.2s;
}

.btn-primary:hover {
    background: #4f46e5;
    transform: scale(1.05);
}

/* Titles */
.section-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
}


/*Hero*/

.hero {
    background: linear-gradient(135deg, #6366f1, #8b5cf6);
    text-align: center;
}

.hero-content h1 {
    font-size: 52px;
    margin-bottom: 20px;
}

.hero-content p {
    max-width: 600px;
    margin: 0 auto 30px;
    color: #e0e7ff;
}